# .gitignore

# Ignore .env file containing sensitive environment variables
.env

# Ignore Python cache files
*.pyc
__pycache__/

# Ignore Django migration files
*.log
*.pot
*.pyc
__pycache__/

# Ignore database files (if you use SQLite)
db.sqlite3

# Ignore static files (you'll want these to be generated on deployment)
static/
