{% extends 'base.html' %}
{% block 'main' %}
{% load static %}
<style>
  /*start Article.css*/
  .ootb-tabcordion {
    background: #000;
    color: #fff;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
    /* max-width: 680px; */
    padding: 1rem;
    margin: 1rem auto 4rem auto;
    border-radius: 3px;
  }
  .ootb-tabcordion.has-tabs .ootb-tabcordion--tabs {
    opacity: 1;
    height: auto;
    visibility: visible;
  }
  .ootb-tabcordion.has-tabs .ootb-tabcordion--entry {
    min-height: 0;
  }
  .ootb-tabcordion.has-tabs .ootb-tabcordion--entry::before {
    display: none;
  }
  .ootb-tabcordion.has-tabs .ootb-tabcordion--entry.is-active .ootb-tabcordion--entry-content {
    opacity: 1;
    transition: opacity 400ms ease-in-out;
  }
  .ootb-tabcordion.has-tabs .ootb-tabcordion--entry .ootb-tabcordion--entry-content {
    opacity: 0;
    transition: opacity 400ms ease-in-out;
    border-top: none;
  }
  
  .ootb-tabcordion--tabs {
    opacity: 0;
    height: 0;
    visibility: hidden;
    display: flex;
    flex-flow: wrap;
    margin: 0;
    list-style: none;
    padding: 0;
  }
  .ootb-tabcordion--tabs .tab {
    display: block;
    background: #000;
    color: #fff;
    padding: 30px;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    margin: 0 0 1px 0;
    border: none;
    border: 1px solid #fff;
    cursor: pointer;
    padding-right: 10%;
    padding-left: 90px;

  }
  .ootb-tabcordion--tabs .tab:hover, .ootb-tabcordion--tabs .tab:focus {
    background: #000;
    outline: none;
    color: orange;
  }
  .ootb-tabcordion--tabs .tab.is-active {
    /* background: #3bacff; */
    background: #000;
    border: orange solid;
    padding: 30px;
    padding-right: 10%;
    padding-left: 50px;
    border-bottom: none;
  }
  .ootb-tabcordion--tabs .tab.is-active:hover, .ootb-tabcordion--tabs .tab.is-active:focus {
    background: #000;
    color: orange;
    border-bottom: none;
  }
  
  .ootb-tabcordion--entry {
    overflow: hidden;
  }
  .ootb-tabcordion--entry::before {
    position: relative;
    content: attr(data-title);
    cursor: pointer;
    z-index: 1;
    background: #444;
    color: #fff;
    padding: 0.5rem 1rem;
    display: block;
    border-radius: 3px;
  }
  .ootb-tabcordion--entry:hover, .ootb-tabcordion--entry:focus {
    outline: none;
  }
  .ootb-tabcordion--entry:hover::before, .ootb-tabcordion--entry:focus::before {
    background: #535353;
  }
  .ootb-tabcordion--entry.is-active .ootb-tabcordion--entry-content {
    margin-top: 0;
    height: auto;
    opacity: 1;
    transition: margin 400ms ease-out -100ms;
    border: 2px orange solid;
    border-top: none;
  }
  .ootb-tabcordion--entry.is-active::before {
    background: #3bacff;
  }
  .ootb-tabcordion--entry.is-active:hover::before, .ootb-tabcordion--entry.is-active:focus::before {
    background: #1c9fff;
  }
  
  .ootb-tabcordion--entry-container {
    overflow: hidden;
    margin-bottom: 1px;
  }
  
  .ootb-tabcordion--entry-content {
    position: relative;
    margin-top: -100%;
    height: 0;
    opacity: 0;
    transition: margin 500ms ease-in;
    padding: 1rem;
  }
  .ootb-tabcordion--entry-content a.more {
    color: #444;
  }
  .ootb-tabcordion--entry-content a.more:hover {
    color: #3bacff;
  }
  p {
    margin-top: 0;
    line-height: 1.6;
  }

  /*end article.css*/

  /* start slider.css*/
  @-webkit-keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
.slider {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 125px;
  margin: auto;
  overflow: hidden;
  position: relative;
  /* width: 960px; */
}
.slider::before, .slider::after {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
          animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}
.slider .slide {
  height: 100px;
  width: 250px;
}
  /* end slider.css*/

  /* start style.css*/
  .training-research {
  border-radius: 65px;
    background-color: black;
    color: white;
    margin-top: 4%;
    border: 2px #fff solid;
    height: 100%;
    /* font-size: 24px;*/
}
.card-design-first{
   width: 23rem;  
  /*margin-right: 40px;*/
  border-radius: 50px;
  border: 2px white solid;
 
}
.card-design-card{
  background-color: black;
  color: white;
  margin-bottom: 15px;
  /* height: 284px; 
  margin-top: 13px;
  margin-bottom: 19px;*/
}
.card img{
  margin-top: 20px;
}
.card-design-second{
  width: 23rem; 
  margin-top: 20px;
  margin-right: 40px;
  border-radius: 50px;
  border: 2px white solid;
  background-color: #000;
  color: #fff;
}
.youtube-video{
  width:"1280";
  height:"675"
}

.mySlides {
  display: none;
}

/* Slideshow container */
.slideshow-container {
max-width: 100%;
position: relative;
margin: auto;
}


/* The dots/bullets/indicators */
.dot {
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #fff;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}

.active {
background-color: #00aeff;
}

/* Fading animation */
.fade {
animation-name: fade;
animation-duration: 1.5s;
}

@keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

.text {font-size: 11px}
}

.text-form{
  border-radius: 25px;
  height: 60px;
}
.label-text{
  font-weight: bolder;
  font-size: larger;
}
.submit-btn {
  width: 100%; 
  border-radius: 25px; 
  color: #fff;
  font-weight: bold;
  height: 60px;
  font-size: larger;
}
.wrapper{
  padding: 70px 0;
  overflow-x: hidden;
}


.my-slider{
  padding: 0 70px;
}
.slick-initialized .slick-slide{
  background-color: #111;
  color: #FFF;
  height: 200px;
  margin: 0 15px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}



.slick-next, .slick-prev{
  z-index: 5;
}
.slick-next{
  right: 15px;
}
.slick-prev{
  left: 15px;
}
.slick-next:before, .slick-prev:before{
  color: #000;
  font-size: 26px;
}
.card-related-products{
  /* width: 0rem; */
  width: 20px; 
  height: 100%; 
  /* background-color: #111;  */
  border-radius: 10%;
  color: #fff;;
}

#default{
  text-align:center;
}



@media screen and (max-width:991px) {
  .card-design-first{
    margin-top: 25px;
  }
}
@media screen and (min-width:992px) {
  
  .card-design-first{
    margin-top: 25px;
  }
}



@media only screen and (min-width: 768px) and (max-width: 1800px) { 
  .get-in{
    
    margin-top: 30px;
    /* text-align: center; */
    margin-left: 162px;

  }
}

@media (max-width: 768px) {

.slick-initialized .slick-slide{
  background-color: #111;
  color: #FFF;
  height: 200px;
  margin: 0 15px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}


.feedback-text{
  margin-left: 15px;
  /* margin-right: 2px; */
}
.training-main{
  margin-top: 7%;
}
.get-in-touch-img{
  width: 100%;
}

.card-design-first{
  margin-top: 25px;
}

.card-design-second{
  margin-left: 30px;
  margin-top: 25px;
  margin-right: 9%;
}
.training-research{
  margin-left: 21px;
  /* margin-top: 25px; */
  margin-right: 6%;
}

.slick-list{
  margin-left: -28px !important;
  margin-right: -32px !important;
}

.xzoom-container{
  margin-left: 2% !important;
  /* box-sizing: none !important; */
}
.product-information-img{
  width: 90%;
}

iframe{
  width: 100%;
}
.product-row{
  width: 100%;
  margin-left: 1px;
}


}
  /* end style.css*/




</style>
<!--main start-->
    <!--Banner start-->
    <div class="bg-black text-white">
        <div class="row">
            <div class="col-sm-12">
                <img src="https://www.neuphony.com/img/product-neuphony-eeg-headband/headbandbanner1.webp" width="100%">
            </div>
        </div>
        <!--feedback therapy start-->
        <div class="row therapy-simplified mt-4">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-6 feedback-text">
                        <h5>Neurofeedback therapy simplified</h5>
                        <h5> with Ten Brain Research</h5>
                        <h6>Track your cognitive insights, experience neurofeedback at</h6>
                        <h6>home, and improve your brain health.</h6>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-2 ms-3" style="margin-right: 25px;">
                                <img src="https://www.neuphony.com/img/product-neuphony-eeg-headband/Activity.webp" height="100">
                            </div>
                            <div class="col-sm-8 ms-3 me=3">
                                <h5>Step 1: Measure Your Brain Activity</h5>
                                <h6 class="me-3">put on the Ten Brain Research headband, connect to our app, and start tracking your brain's performance in real-time</h6>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-sm-2 ms-3" style="margin-right: 25px;">
                                <img src="https://www.neuphony.com/img/product-neuphony-eeg-headband/therapy.webp" height="100">
                            </div>
                            <div class="col-sm-8 ms-3">
                                <h5>Step 2: Neurofeedback therapy</h5>
                                <h6 class="me-3">Engage with neurofeedback games to enhance your cognitive abilities. Monitor insights on focus, calm, mood, and PDR boost your brain activity</h6>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-sm-2 ms-3" style="margin-right: 25px;">
                                <img src="https://www.neuphony.com/img/product-neuphony-eeg-headband/Improve.webp " height="100">
                            </div>
                            <div class="col-sm-8 ms-3">
                                <h5>Step 3: Track and Improve</h5>
                                <h6 class="me-3">Pair your headband with the mobile app for performance scores or the desktop app for detailed reports, including EEG data and cognitive insights.</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
        <!--feedback therapy end-->

        <!--Product Information start-->
        <div class="row mt-3">
            <div class="col-sm-2"></div>        
            <div class="col-sm-8">
                <h3><p style="text-align: center;"><B>Ten Brain Research Product Information</B></p></h3>
            </div>
            <div class="col-sm-2"></div>

            <div class="col-sm-2"></div>
            <div class="col-sm-8 mt-5">
                <div class="row">
                    <div class="col-sm-6">
                      <section id="default" class="padding-top0">
                        <div class="row">
                          <!-- <div class="large-12 column"><h3>Product Zooming</h3></div> -->
                            <!-- <hr> -->
                          <div class="large-5 column">
                            <div class="xzoom-container">
                              <img class="xzoom product-information-img" id="xzoom-default" src="https://www.neuphony.com/img/product-neuphony-eeg-headband/headband1.webp" xoriginal="https://www.neuphony.com/img/product-neuphony-eeg-headband/headband1.webp" />
                              <div class="xzoom-thumbs">
                                <a href="https://www.neuphony.com/img/product-neuphony-eeg-headband/headband1.webp">
                                  <img class="xzoom-gallery" width="80" src="https://www.neuphony.com/img/product-neuphony-eeg-headband/headband1.webp"  xpreview="https://www.neuphony.com/img/product-neuphony-eeg-headband/headband2.webp" title="The description goes here">
                                </a>
                                  
                                <a href="https://www.neuphony.com/img/product-neuphony-eeg-headband/headband2.webp">
                                  <img class="xzoom-gallery" width="80" src="https://www.neuphony.com/img/product-neuphony-eeg-headband/headband2.webp" title="The description goes here">
                                </a>
                                  
                                <a href="https://www.neuphony.com/img/product-neuphony-eeg-headband/headband3.webp">
                                  <img class="xzoom-gallery" width="80" src="https://www.neuphony.com/img/product-neuphony-eeg-headband/headband3.webp" title="The description goes here">
                                </a>
                                  
                                
                              </div>
                            </div>        
                          </div>
                          <div class="large-7 column"></div>
                        </div>
                        </section>
                        <!-- default end -->
                    </div>
                    <div class="col-sm-6 get-in" style="display: flex;">
                        <h3 class="ms-3 me-3">Ten Brain Research Headband</h3>
                        <h5 class="ms-3 me-3"> 6 channel EEG headset for brain training and neurofeedback at home</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
        <!--product information end-->

        <!--product description-->
        <div class="row mt-4">
            <h3><p style="text-align: center;"><b>Product Description</b></p></h3>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="row product-row">
                    <article class="ootb-tabcordion">
                        <div class="ootb-tabcordion--tabs" role="tablist" aria-label="TabCordion">
                        <button class="tab is-active" role="tab" aria-selected="true" aria-controls="tab1-tab" id="tab1">About Ten Brain Research Headband</button>
                        <button class="tab" role="tab" aria-selected="false" aria-controls="tab2-tab" id="tab2" tabindex="-1">Technical Specification</button>
                        <button class="tab" role="tab" aria-selected="false" aria-controls="tab3-tab" id="tab3" tabindex="-1">Features Of The Headband</button>
                        </div>
                        <section id="tab1-tab" class="ootb-tabcordion--entry is-active" data-title="Tab 1 with big text" tabindex="0" role="tabpanel" aria-labelledby="tab1">
                            <div class="ootb-tabcordion--entry-container">
                                <div class="ootb-tabcordion--entry-content">
                                    <p>Ten Brain Research Headband is a neurofeedback-based wearable brain device (EEG Headband) that captures key mind parameters and allows users to know their stress and external focus scores. The device has 8 sensors - 6 signal and 2 reference distributed in the brain's parietal, frontal & temporal lobes. These are the polymer sensors that are conducive in nature. Cognitive States To Measure:
                                        <ol>1.Stress Vs Calm</ol>
                                        <ol>2.Mood Analysis</ol>
                                        <ol>3.External Focus Vs Distractions</ol>
                                        <ol>4.PDR (Posterior Dominant Rhythm)</ol>
                                    </p>                                        
                                </div>
                            </div>
                        </section>
                        <section id="tab2-tab" class="ootb-tabcordion--entry" data-title="Tab 2 with big text" tabindex="-1" role="tabpanel" aria-labelledby="tab2">
                            <div class="ootb-tabcordion--entry-container">
                                <div class="ootb-tabcordion--entry-content">
                                <p><table class="table table-dark">
                                    <tr>
                                        <th>Parameter</th>
                                        <th>Value</th>
                                    </tr>
                                    <tr>
                                        <td>Sensor Count</td>
                                        <td>6</td>
                                    </tr>
                                    <tr>
                                        <td>Resolution</td>
                                        <td>24 bits per channel</td>
                                    </tr>
                                    <tr>
                                        <td>Dynamic Range</td>
                                        <td>375 mV (pp)</td>
                                    </tr>
                                    <tr>
                                        <td>Motion Sensor</td>
                                        <td>3x accelerometer</td>
                                    </tr>
                                    <tr>
                                        <td>Battery Life</td>
                                        <td>Up to 8 hours</td>
                                    </tr>
                                    <tr>
                                        <td>Sample Rate</td>
                                        <td>250 SPS</td>
                                    </tr>
                                    <tr>
                                        <td>Sensor Locations</td>
                                        <td>Fp1, Fp2, F3, F4, Fz, T3, T4, Pz</td>
                                    </tr>
                                    <tr>
                                        <td>LSB Resolution</td>
                                        <td>22.35 nVolts (24 bits mode)</td>
                                    </tr>
                                    <tr>
                                        <td>Sensor Technology</td>
                                        <td>Dry sensors: polycarbonate conductive passive electrodes with Ag/AgCl coating</td>
                                    </tr>
                                    <tr>
                                        <td>Sensor Technology</td>
                                        <td>CMS/DRL references at T3/T4</td>
                                    </tr>
                                    <tr>
                                        <td>Frequency Response</td>
                                        <td>1 – 45 Hz</td>
                                    </tr>
                                    <tr>
                                        <td>Connectivity</td>
                                        <td>Bluetooth® Low Energy 4.2, USB Type-C (with Extender)</td>
                                    </tr>
                                    <tr>
                                        <td>Supported Platforms</td>
                                        <td>Windows 10 (64-bit) v1607+, Mac OSX 10.13 and higher, iOS 11 or above, Android 5.0 Lollipop or above</td>
                                    </tr>
                                </table>
                                </p>
                                </div>
                            </div>
                        </section>
                        <section id="tab3-tab" class="ootb-tabcordion--entry" data-title="Tab 3 with big text" tabindex="-1" role="tabpanel" aria-labelledby="tab3">
                            <div class="ootb-tabcordion--entry-container">
                                <div class="ootb-tabcordion--entry-content">
                                <p>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <img src="https://www.neuphony.com/img/product-neuphony-eeg-headband/lobes.webp" style="width:50px; height:50px; margin-left: 70px;">
                                            <p>6 dry EEG sensors covering three Brain lobes</p>
                                        </div>
                                        <div class="col-sm-3">
                                            <img src="https://www.neuphony.com/img/product-neuphony-eeg-headband/Home.webp" alt="Home" class="" style="width:50px; height:50px; margin-left: 70px;">
                                            <p>Experience Neurofeedback at Home</p>
                                        </div>
                                        <div class="col-sm-3">
                                            <img src="https://www.neuphony.com/img/product-neuphony-eeg-headband/Bluetooth.webp" alt="Bluetooth" class="" style="width:50px; height:50px; margin-left: 70px;">
                                            <p>Wireless connectivity via Bluetooth</p>
                                        </div>
                                        <div class="col-sm-3">
                                            <img src="https://www.neuphony.com/img/product-neuphony-eeg-headband/hardware.webp" alt="hardware" class="" style="width:50px; height:50px; margin-left: 70px;">
                                            <p>Sleek design and high quality hardware</p>
                                        </div>
                                    </div>
                                </p>
                                </div>
                            </div>
                        </section>
                    </article>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
        <!--end product description-->

        <!--Neurofeedback training and research-->
        <div class="row mt-4">  
            <h3><p style="text-align: center;"><b>At Home Neurofeedback training and research</b></p></h3>
            <h5><p style="text-align: center;">Use the Ten Brain Research headband with the mobile and desktop applications for comprehensive brain training, neurofeedback and cognitive insights</p></h5>
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-6" >
                        <div class="card training-research">
                            <div class="card-body">
                              <h5 class="card-title mt-3" style="text-align: center; font-size: x-large;">Ten Brain Research Mobile Application</h5>
                              <p style="text-align: center;"><a href="#" class="btn btn-dark mt-3" style="border-radius: 17px; border: 2px #fff solid;">Explore</a></p>
                              <div class="clearfix"></div>
                              <p style="text-align: center;"><img src="https://www.neuphony.com/img/product-neuphony-eeg-headband/Application.webp" class="mt-4" width="100%"></p> 
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 training-main">
                        <div class="card training-research">
                            <div class="card-body">
                              <h5 class="card-title mt-3" style="text-align: center; font-size: x-large;">Ten Brain Research Desktop Application</h5>
                              <p style="text-align: center;"><a href="#" class="btn btn-dark mt-3" style="border-radius: 17px; border: 2px #fff solid;">Explore</a></p>
                              <div class="clearfix"></div>
                              <p style="text-align: center; margin-top: 35%;"><img src="https://www.neuphony.com/img/product-neuphony-eeg-headband/Desktop.webp" class="mt-4" width="100%"></p> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
        <!--end Neurofeedback training and research-->


        <!--As seen on-->
        <!-- <div class="row mt-5">
          <h3><p style="text-align: center;"><b>As Seen On</b></p></h3>
          <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="row ms-2 me-2">
                  <div class="slider">
                    <div class="slide-track">
                      <div class="slide">
                        <img src="eeg-images/as seen on/aaj-tak.webp" height="125" width="250" alt="" />
                      </div>
                      <div class="slide">
                        <img src="eeg-images/as seen on/betterindia.webp" height="125" width="250" alt="" />
                      </div>
                      <div class="slide">
                        <img src="eeg-images/as seen on/forbes.webp" height="100" width="250" alt="" />
                      </div>
                      <div class="slide">
                        <img src="eeg-images/as seen on/google.webp" height="125" width="250" alt="" />
                      </div>
                      <div class="slide">
                        <img src="eeg-images/as seen on/lallantop.webp" height="125" width="250" alt="" />
                      </div>
                      <div class="slide">
                        <img src="eeg-images/as seen on/m-india.webp" height="125" width="250" alt="" />
                      </div>
                      <div class="slide">
                        <img src="eeg-images/as seen on/shorttankindia.webp" height="125" width="250" alt="" />
                      </div>
                      <div class="slide">
                        <img src="eeg-images/as seen on/aaj-tak.webp" height="125" width="250" alt="" />
                      </div>
                      <div class="slide">
                        <img src="eeg-images/as seen on/betterindia.webp" height="125" width="250" alt="" />
                      </div>
                      <div class="slide">
                        <img src="eeg-images/as seen on/forbes.webp" height="125" width="250" alt="" />
                      </div>
                      <div class="slide">
                        <img src="eeg-images/as seen on/google.webp" height="125" width="250" alt="" />
                      </div>
                      <div class="slide">
                        <img src="eeg-images/as seen on/lallantop.webp" height="125" width="250" alt="" />
                      </div>
                      <div class="slide">
                        <img src="eeg-images/as seen on/m-india.webp" height="125" width="250" alt="" />
                      </div>
                      <div class="slide">
                        <img src="eeg-images/as seen on/shorttankindia.webp" height="125" width="250" alt="" />
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="col-sm-2"></div>            
        </div> -->
        <!--end as seen on-->

        <!--Master your mind-->
        <div class="row mt-5">
          <h3><p style="text-align: center;"><b>Master your mind with EEG</b></p></h3>
          <h5><p style="text-align: center;">Personalize your brain training, receive neurological feedback, and track your mood with Ten Brain Research EEG headband</p></h5>
          <div class="col-sm-2"></div>
          <div class="col-sm-8">
              <div class="row ms-4 me-4">
                  <!-- <div class="card-deck"> -->
                    <div class="col-sm-4">
                      <div class="card mt-3" style="height: 96%; background-color: black; color: white; border: 2px solid white;">
                        <img class="card-img-top" src="https://www.neuphony.com/img/product-neuphony-eeg-headband/focus.webp" alt="Card image cap" width="auto" >
                        <div class="card-body">
                          <h5 class="card-title">Play Brain Training Games</h5>
                          <p class="card-text">Use Ten Brain Research Headband to Monitor your focus, calm and other scores while you play brain training games</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="card mt-3" style="height: 96%; background-color: black; color: white; border: 2px solid white;">
                        <img class="card-img-top" src="https://www.neuphony.com/img/product-neuphony-eeg-headband/performance.webp" alt="Card image cap" width="auto" >
                        <div class="card-body">
                          <h5 class="card-title">Workout</h5>
                          <p class="card-text">Track your mental strength and performance to train your brain as much as you train your body.</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="card mt-3" style="height: 96%; background-color: black; color: white; border: 2px solid white;">
                        <img class="card-img-top" src="https://www.neuphony.com/img/product-neuphony-eeg-headband/Read.webp" alt="Card image cap" width="auto" >
                        <div class="card-body">
                          <h5 class="card-title">Read A Book</h5>
                          <p class="card-text">Read a book, novel, blog or any articles to measure your focus, attention span etc. and train your brain for better results every time.</p>
                        </div>
                      </div>
                    </div>
              </div> 
              <div class="row ms-4 me-4">  
                <div class="col-sm-4">
                  <div class="card mt-3" style="height: 96%; background-color: black; color: white; border: 2px solid white;">
                    <img class="card-img-top" src="https://www.neuphony.com/img/product-neuphony-eeg-headband/techniques.webp" alt="Card image cap" width="auto" >
                    <div class="card-body">
                      <h5 class="card-title">Deep Breathing</h5>
                      <p class="card-text">Try deep breathing techniques with Ten Brain Research to measure and keep a track of your brain waves data which helps you define which techniques benefits you more.</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="card mt-3" style="height: 96%; background-color: black; color: white; border: 2px solid white;">
                    <img class="card-img-top" src="https://www.neuphony.com/img/product-neuphony-eeg-headband/brain.webp" alt="Card image cap" width="auto" >
                    <div class="card-body">
                      <h5 class="card-title">Practice Yoga</h5>
                      <p class="card-text">Do a Pre-Yoga and Post-Yoga analysis or track your real-time brain data while you perform different asanas.</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="card mt-3" style="height: 96%; background-color: black; color: white; border: 2px solid white;">
                    <img class="card-img-top" src="https://www.neuphony.com/img/product-neuphony-eeg-headband/Meditation.webp" alt="Card image cap" width="auto" >
                    <div class="card-body">
                      <h5 class="card-title">Meditate</h5>
                      <p class="card-text">Experience Meditation like never before with Ten Brain Research and track how any meditation impacts your brain states.</p>
                    </div>
                  </div>
                </div>
          
              </div>
          </div>
          <div class="col-sm-2"></div>
      </div>
        <!--end Master your mind-->

        <!--youtube video-->
        <!-- <div class="row mt-5">
          <div class="col-sm-2"></div>
          <div class="col-sm-8">
            <div class="row">
              <div class="youtube-video">
              <iframe width="1280" height="675" src="https://www.youtube.com/embed/fLtSL_z_pEE" title="Best Brain Devices for 2024" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            </div>
          </div>
          <div class="col-sm-2"></div>
        </div> -->
        <!--end youtube video-->

        <!--trusted by-->
        <!-- <div class="row mt-4">
          <h3><p style="text-align: center;"><b>Trusted By</b></p></h3>
          <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="row ms-2 me-2">
                  <div class="slider">
                    <div class="slide-track">
                      <div class="slide">
                        <img src="eeg-images/Trusted By/government-college-of-yoga.webp" height="125" width="250" alt="" />
                      </div>
                      <div class="slide">
                        <img src="eeg-images/Trusted By/institute-of-technology.webp" height="125" width="250" alt="" />
                      </div>
                      <div class="slide">
                        <img src="eeg-images/Trusted By/national-institute-of-mental-health.webp" height="125" width="250" alt="" />
                      </div>
                      <div class="slide">
                        <img src="eeg-images/Trusted By/neuro-meditation-institute.webp" height="125" width="250" alt="" />
                      </div>
                      <div class="slide">
                        <img src="eeg-images/Trusted By/sri-sai-institute-of-advance-research.webp" height="125" width="250" alt="" />
                      </div>
                      <div class="slide">
                        <img src="eeg-images/Trusted By/government-college-of-yoga.webp" height="125" width="250" alt="" />
                      </div>
                      <div class="slide">
                        <img src="eeg-images/Trusted By/institute-of-technology.webp" height="125" width="250" alt="" />
                      </div>
                      <div class="slide">
                        <img src="eeg-images/Trusted By/national-institute-of-mental-health.webp" height="125" width="250" alt="" />
                      </div>
                      <div class="slide">
                        <img src="eeg-images/Trusted By/neuro-meditation-institute.webp" height="125" width="250" alt="" />
                      </div>
                      <div class="slide">
                        <img src="eeg-images/Trusted By/sri-sai-institute-of-advance-research.webp" height="125" width="250" alt="" />
                      </div>                          
                    </div>
                  </div>
                </div>
            </div>
            <div class="col-sm-2"></div>            
        </div> -->
        <!--end trusted by-->

        <!--Media by india -->
        <div class="row mt-4">
          <h3><p style="text-align: center;"><b>Made in India, Loved by the World</b></p></h3>
          <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="row">
                  <div class="slideshow-container">

                    <div class="mySlides fade ms-3 me-3">
                      <p style="text-align: center;color: #fff; background-color:#000"  class="">
                        This is incredible! This is a whole next level! What a good meditations I have heard and experienced!! So far! This is what an EEG device deserves! This opens possibility to create a next level in measurement of the EEG Because I have seen some faults during the regular meditations.                          
                          <br>
                          <p  style="text-align: center;color: #fff; background-color:#000">Nick Van</p>
                          <p  style="text-align: center;color: #fff; background-color:#000"><b>Founder, Meditator & Entrepreneur</b></p>
                      </p>
                      <!-- <div class="text">Caption Text</div> -->
                    </div>
                    
                    <div class="mySlides fade ms-3 me-3">
                      <p style="text-align: center;color: #fff; background-color:#000"  class="">
                        To begin with, the Ten Brain Research device seems pretty cool to me. I still remember trying it on for the first time and having mutiple questions about how it’s going to feel like, kept on wondering how the device can measure my stress level, will I feel any sensations or discomfort and so on. But to my surprise it was pretty awesome. The device was not at all complicated. It felt like a head gear and was super easy to wear. The only disadvantage about the device is that after sometime it becomes too heavy on your head ad a bit pokey too.
                          <br>
                          <p  style="text-align: center;color: #fff; background-color:#000">Nikita Patel</p>
                          <p  style="text-align: center;color: #fff; background-color:#000"><b>Fashion Influencer</b></p>
                      </p>
                      <!-- <div class="text">Caption Text</div> -->
                    </div>
                    <div class="mySlides fade ms-3 me-3">
                      <p style="text-align: center;color: #fff; background-color:#000"  class="">
                        Brain activity was monitored during one of my meditation sessions copy. A very good initiative by team Ten Brain Research. I have never had such an amazing experience where my brain activity was monitored during one of my meditation sessions. The device that the team is working on is a very novice idea that will help people monitor their brain waves at home with ease.
                        <br>
                          <p  style="text-align: center;color: #fff; background-color:#000">Trisha Behl</p>
                          <p  style="text-align: center;color: #fff; background-color:#000"><b>Communication Specialist</b></p>
                      </p>
                      <!-- <div class="text">Caption Text</div> -->
                    </div>
                    <div class="mySlides fade ms-3 me-3">
                      <p style="text-align: center;color: #fff; background-color:#000"  class="">
                        It was an amazing experience overall, using a headband does not affect your meditation experience it just helps your realize how you were truly involved in meditation, after a few minutes you forget about the headband it is that comfortable. Normal meditation and guided meditation with Ten Brain Research and Level are slightly different as they help you to focus and calm your mind easily.
                        <br>
                          <p  style="text-align: center;color: #fff; background-color:#000">Kunal Rajaram</p>
                          <p  style="text-align: center;color: #fff; background-color:#000"><b>Student & Meditator</b></p>
                      </p>
                      <!-- <div class="text">Caption Text</div> -->
                    </div>
                    <div class="mySlides fade ms-3 me-3">
                      <p style="text-align: center;color: #fff; background-color:#000"  class="">
                          I’ve been into meditation for 15 years now and thought that I was doing a more or less good job of it. But I never really felt completely relaxed during my meditations and this got confirmed with Ten Brain Research that mindfulness meditation is definitely the meditation that’s more suited to my brain waves
                          <br>
                          <p  style="text-align: center;color: #fff; background-color:#000">Susan Lemke</p>
                          <p  style="text-align: center;color: #fff; background-color:#000"><b>15+ years Experienced Meditator</b></p>
                      </p>
                    </div>
                    <div class="mySlides fade ms-3 me-3">
                      <p style="text-align: center;color: #fff; background-color:#000"  class="">
                        I attended Ten Brain Research's meditation bootcamp & used their product which is brain analysing device through EEG in upgraded level without wires which is great. In normal meditation we are not able to conclude that how much focused we are but with Ten Brain Research's headband and its app where it has a feature of music sound which increase when we are focused and decrease when we are not helps a lot and that's the best feature I can say
                          <br>
                          <p  style="text-align: center;color: #fff; background-color:#000">Chaitrali Shah</p>
                          <p  style="text-align: center;color: #fff; background-color:#000"><b>Student & Meditator</b></p>
                      </p>
                    </div>
                    <div class="mySlides fade ms-3 me-3">
                      <p style="text-align: center;color: #fff; background-color:#000"  class="">
                        My experience with the device has been great. I love the concept of the device, didn't think it would be so efficient to actually measure your brain activity. The device is compact, easy and comfortable. It keeps us motivated to improve ourselves by adopting new habits. Its a very cool and exciting device. Thank you for the opportunity glad to have been a part of it
                          <br>
                          <p  style="text-align: center;color: #fff; background-color:#000">Pooja Chhedda</p>
                          <p  style="text-align: center;color: #fff; background-color:#000"><b>Student & Meditator</b></p>
                      </p>
                    </div>
                    
                    </div>
                    <br>
                    
                    <div style="text-align:center">
                      <span class="dot"></span> 
                      <span class="dot"></span> 
                      <span class="dot"></span> 
                      <span class="dot"></span> 
                      <span class="dot"></span> 
                      <span class="dot"></span> 
                      <span class="dot"></span> 
                    </div>
                </div>
            </div>
          <div class="col-sm-2"></div>
        </div>
        <!--end media by india-->


        <!--Get In Touch-->
        <div class="row mt-4  ms-3 me-3">
          <h5><p style="text-align: center;">Get In Touch</p></h5>
          <h2><p style="text-align: center;"><b>Get in touch with our team to see how Ten Brain Research can help you</b></p></h2>
          <h6><p style="text-align: center;"><b>Get in touch with our team to see how Ten Brain Research can revolutionize interaction with technology</b></p></h6>
          <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="row">
                  <div class="col-sm-6">
                    <img src="https://www.neuphony.com/img/desktop-application/demo.webp" width="600" class="get-in-touch-img">
                  </div>
                  <!-- <div class="clearfix"></div> -->
                  <div class="col-sm-6 get-in">
                    <form action="/ten-brain-eeg-headband" method="post" autocomplete="off">
                      {% if success_msg %}
                          <div id="alerts" class="alert alert-success" role="alert">{{success_msg}}
                          </div>
                      {% endif %}
                        {% csrf_token %}
                      <div class="form-group">
                        <label for="exampleInputEmail1" class="label-text">Your Name</label>
                        <input type="text" class="form-control text-form" name="uname" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your name">
                      </div>
                      <div class="form-group mt-3">
                        <label for="exampleInputEmail1" class="label-text">Email ID</label>
                        <input type="email" class="form-control text-form" name="uemail" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your email ID">
                      </div>
                      <div class="form-group mt-3">
                        <label for="exampleInputEmail1" class="label-text">Phone No</label>
                        <input type="number" class="form-control text-form" name="umobile" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your Phone No">
                      </div>
                      <div class="form-group mt-3">
                        <label for="exampleInputEmail1" class="label-text">Country</label>
                        <input type="text" class="form-control text-form" name="ucountry" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your Country">
                      </div>
                      <div class="form-group mt-3">
                        <label for="exampleInputEmail1" class="label-text">Your Message</label>
                        <input type="text" class="form-control text-form" name="umessage" size="30" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your message">
                      </div>
                      
                      <button type="submit" class="btn btn-warning mt-3 submit-btn">Submit</button>
                    </form>
                  </div>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
        <!--end Get in touch-->

        <!--Related Products-->
        <div class="row mt-4">
          <h5><p style="text-align: center;">Related Products</p></h5>
          <h2><p style="text-align: center;"><b>Embark on a journey of Brain Exploration with us</b></p></h2>
          <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div class="row">
                  <div class="wrapper">
                    <div class="my-slider">
                      <div class="card card-related-products" style="height: 100%; border-radius: 10%; color: #fff;;">
                        <img class="card-img-top" src="https://www.neuphony.com/img/how-it-works/NeuphonyFlexCap.webp" alt="Card image cap"  style="border-radius: 25px; margin-left: 10px; padding-right: 25px;">
                        <div class="card-body">
                          <h4 class="card-title" style="text-align: center;">Ten Brain Research Flex Cap</h4>
                          <p class="card-text" style="text-align: center;">8 – Channel Wireless and Dry EEG Headset. Movable Electrodes and compatible with Ten Brain Research Desktop Application</p>
                        </div>
                      </div>
                      <div class="card card-related-products" style="height: 100%; border-radius: 10%; color: #fff;;">
                        <img class="card-img-top" src="https://www.neuphony.com/img/how-it-works/NeuphonyEXGSynapse.webp" alt="Card image cap"  style="border-radius: 25px; margin-left: 10px; padding-right: 25px;">
                        <div class="card-body">
                          <h4 class="card-title" style="text-align: center;">Ten Brain Research EXG Synapse</h4>
                          <p class="card-text" style="text-align: center;">DIY Neuroscience Kit. A BCI/HCI ready Kit with comprehensive biopotential signal compatibility</p>
                        </div>
                      </div>
                      <div class="card card-related-products" style="height: 100%; border-radius: 10%; color: #fff;;">
                        <img class="card-img-top" src="https://www.neuphony.com/img/how-it-works/NeuphonyDesktopApp.webp" alt="Card image cap"  style="border-radius: 25px; margin-left: 10px; padding-right: 25px;">
                        <div class="card-body">
                          <h4 class="card-title" style="text-align: center;">Ten Brain Research Desktop App</h4>
                          <p class="card-text" style="text-align: center;">One Stop Solution for Real-time EEG Data, Band Powers and Cognitive Insights (Connection via Cable OR Bluetooth dongle)</p>
                        </div>
                      </div>
                      <div class="card card-related-products" style="height: 100%; border-radius: 10%; color: #fff;;">
                        <img class="card-img-top" src="https://www.neuphony.com/img/how-it-works/NeuphonyMobileApplication.webp" alt="Card image cap"  style="border-radius: 25px; margin-left: 10px; padding-right: 25px;">
                        <div class="card-body">
                          <h4 class="card-title" style="text-align: center;">Ten Brain Research Mobile Application</h4>
                          <p class="card-text" style="text-align: center;">Brain training &amp; Meditation App . Guided and Music Meditations backed by Neuroscience with Cognitive Insights</p>
                        </div>
                      </div>
                      <div class="card card-related-products" style="height: 100%; border-radius: 10%; color: #fff;;">
                        <img class="card-img-top" src="https://www.neuphony.com/img/how-it-works/NeuphonyHeadband.webp" alt="Card image cap"  style="border-radius: 25px; margin-left: 10px; padding-right: 25px;">
                        <div class="card-body">
                          <h4 class="card-title" style="text-align: center;">Ten Brain Research Headband</h4>
                          <p class="card-text" style="text-align: center;">6 – Channel Wireless and Dry EEG Headset. (Compatible with Ten Brain Research Mobile Application and Ten Brain Research Desktop Application)</p>
                        </div>
                      </div>
                      
                                            
                      </div>
                  </div>
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>
        <!--end related Products-->

    </div>


<!--main-->

{% endblock 'main' %}